<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Souza Web Sistemas</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
<style>
 #imagens{
 margin:0 auto;
 width:600px;
 height:300;
 }
 #imagens ul{
 margin:0;
 padding:0;
 list-style:none;
 }
</style>

	
</head>
<body>



	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>SouzaWeb Sistemas</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
 			<h3>Slide de fotos</h3>
 			
		 			 		
 			<!--  <div id="imagens">
 			<ul>
 				<li>
 					<img 
		 			 		src="/image/FOTOS/IGREJA1.jpg"
		 			 		
		 			 		class="media-object  img-responsive img-thumbnail">
	 			 		 
 				</li>
 				
 					<li>
 						<img 
	 			 			src="/image/FOTOS/ESCOLA1.jpg"
	 			 			class="media-object  img-responsive img-thumbnail">
 					</li>
 					
 						<li>
 							<img 
		 			 			src="/image/FOTOS/LOJA1.jpg"
		 			 			class="media-object  img-responsive img-thumbnail">
 						</li>
 						
 						<li>
 							<img 
		 			 			src="/image/FOTOS/PADARIA1.jpg"
		 			 			class="media-object  img-responsive img-thumbnail">
 						</li>
 			
 			</ul>
 			
 			</div>
	 		-->	
	 		<div id="imagens">
	 			<ul>
	 				<li>
	 					<img src="/image/FOTOS/ESCOLA1.jpg"/>
	 				</li>
	 				<li>
	 					<img src="/image/FOTOS/PADARIA1.jpg"/>
	 				</li>
	 			</ul>
	 		</div>
         </div>
		
	</section>




	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
	</script>
 	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> 
<!--  - 	<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script> -->
	<script type="text/javascript" src="/js/jquery.cycle.all.js"></script>
	
	<script type="text/javascript">
	//alert("obrigado Jesus")
	 $("#imagens ul").cycle({
		 fx:zoom
	 });
	
	</script>


</body>
</html>