<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Souza Web Sistemas</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
<style>
*{
	margin: 0px;
	padding: 0px;
}
body {
  background: #494949;
}

.galeria {
  margin: 200px auto;
  width: 480px;
  height: 270px;
 overflow: hidden;
  position: relative;
}

.foto {
  position: absolute;
  animation: animacao infinite 20s;
  opacity: 0;
}

@keyframes animacao {
  25% {
    opacity: 1;
   	transform: scale(1.1,1.1);
  }
 50% {
    opacity: 0;
   	
  }
}

.foto:nth-child(1) {
  animation-delay: 0s;
}

.foto:nth-child(2) {
  animation-delay: 5s;
}

.foto:nth-child(3) {
  animation-delay: 10s;
}

.foto:nth-child(4) {
  animation-delay: 15s;
}
</style>

	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

</head>
<body>



	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>SouzaWeb Sistemas</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
 			<h3>Slide de fotos</h3>
 			
	 			<section class="galeria">
	 				
					<a href="http://localhost:8080/souzawebsistemas/comercial/lojas">
					  <img class='foto'   src="/image/FOTOS/loja02.png"/>
					</a>
					
					 <a href="http://localhost:8080/souzawebsistemas/comercial/padarias"> 
					 	<img class='foto'   src="/image/FOTOS/padaria1.png"/>
					 </a>
					
					 <a href="http://localhost:8080/souzawebsistemas/comercial/lanchonetes">
					  <img class='foto'   src="/image/FOTOS/lanchonete01.jpg"  />
					 </a>
					  
					  <a href="http://localhost:8080/souzawebsistemas/cristao/igrejas">
					     <img class='foto' src="/image/FOTOS/igreja01.png" />
					  </a>
				</section>
 			
         </div>
		
	</section>




	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function() {
			$(".navbar-toggle").click(function() {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});
	</script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<!-- 	<script type="text/javascript"> -->
		
// 		$(document).ready(function(){
// 		  $("#slide img:eq(0)").addClass("ativo").show();
// 		  var texto = $(".ativo").attr("alt");
// 		  $("#slide").prepend("<p>"+texto+"</p>");
// 		  setInterval(slide,3000);
// 		  function slide(){
// 			if($(".ativo").next().size()){
// 			  $(".ativo").fadeOut().removeClass("ativo").next().fadeIn().addClass("ativo");
// 			}else{
// 					$(".ativo").fadeOut().removeClass("ativo");
// 					$("#slide img:eq(0)").fadeIn().addClass("ativo");
// 					var texto = $(".ativo").attr("alt");
// 					$("#slide p").hide().html(texto).delay(500).fadeIn();
// 				}
// 		}
		  
// 	});
<!-- 	</script> -->
</body>
</html>