<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>cadastro de clientes</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/image/favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>

       <h1>Membros cadastrados</h1>
      
       
	     <div class="container">
	      <div class="row" style="margin-left:20px;" > 
    <div class="col-md-9">
       <a th:href="@{/igrejas/cadastro-membro}" >
	        novo membro
	     </a>
	          <a th:href="@{/igrejas/listarmembros}" >
	        		listar todos
	     		</a>
	     		<a th:href="@{/igrejas/relatorios}" >
	       			gerar relatorio
	     		</a>
	  </div>
	 
	  
	  </div>   
	      <div class="row">
	      <form method="post"
	      action="/igrejas/buscarporparametros" 
       	
	      >
	       <div class="row">
	       
	      	<div  class="form-group col-md-12">
	      		<label for="nome">nome</label>
	      		<input type="text" name="nome" id="nome" th:value="${nome}"> 
	      		
	      		<label for="naturalidade">naturalidade</label>
	      		<input type="text" name="naturalidade" id="naturalidade" th:value="${naturalidade}">
	      		
	      		<input type="submit"value="pesquisar">
	      	</div>
	      	
	      	<div class="row">
	      	<div  class="form-group col-md-9">
	      		<a th:href="@{/igrejas/relatorios}" >
	       			relatório
	     		</a>
	     		<a th:href="@{/igrejas/listarmembros}" >
	        		membros
	     		</a>
	     		</div>
	     		<div  class="form-group col-md-9">
	     		<a th:href="@{/igrejas/listarmembros}" >
	        		membros
	     		</a>
	     		</div>
	      		
	      	</div>
	      	</div>
	      	</form>
	      	
	      	
	      
	      	</div>
	      
	      </div>
	      
	     
       <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Mãe</th>
      
      <th scope="col">ações</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="m:${membros.content}">
       <td th:text="${m.codigo}"/>
      <td><a th:href="@{/igrejas/{codigo}/mostrardetalhesdomembro(codigo=${m.codigo})}" ><span th:text="${m.nome}"></span></a></td>  
       <td th:text="${m.naturalidade}"/>
       <td th:text="${m.estadosBrasileiros.descricao}"/>
       <td th:text="${m.filiacao.nomeDaMae}"/>
        <td><img th:src="@{/igrejas/{imagem}/mostrarImagem(imagem=${m.nomedaimagem})}" width="50" height="50"/></td>
     
       <td> 
 	     <a th:href="@{/igrejas/{codigo}/selecionarmembro(codigo=${m.codigo})}" > 
 	        editar 
 	     </a>
 	     <a th:href="@{/igrejas/{codigo}/addDocumentos(codigo=${m.codigo})}" > 
 	        add documentos
 	     </a>
	  </td> 
    </tr>
   
  </tbody>
</table>
	<div class="row" style="margin-left:50%">
 <center>
 	
 
 
 
     <span th:if="${membros.hasPrevious()}">
         <a style="color:red;font-size:20px;"  th:href="@{/igrejas/membrospag(page=${membros.number-1}, size=${membros.size},nome=${nome},naturalidade=${naturalidade})}">Anterior</a>
     </span>
 
    <th:block th:each="i: ${#numbers.sequence(0, membros.totalPages - 1)}"> 
            <a  style="color:blue;font-size:20px;" th:href="@{/igrejas/membrospag(page=${i}, size=${membros.size},nome=${nome},naturalidade=${naturalidade})}">[[ ${i} + 1 ]]</a>
    </th:block>
    
    <span th:if="${membros.hasNext()}">
    
         <a style="color:green;font-size:20px;"  th:href="@{/igrejas/membrospag(page=${membros.number+1}, size=${membros.size},nome=${nome},naturalidade=${naturalidade})}">Próximo</a>
     </span>
    
 </center>
</div>    
	     
</body>
</html>