<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>cadastro de clientes</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/image/favicon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
  <div class="container">
		<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-12">
					<h2>Cadatro de entrada de produtos</h2>
				</div>
			</div>
		<form action="/igrejas/cadastrarmembro" 
			th:object="${entradaProduto}" 
			method="POST">
		    <div class="row">
				<div class="col-xs-12 col-md-3 col-lg-3"  >
					<label for="codigo">funcionario</label>
				</div>
				<div class="col-xs-12 col-md-9 col-lg-9" >
					<select 
      				  th:field="*{funcionario}"
      				  id="funcionario" 
      				  class="form-control">
       				    <option 
        				   th:each="lf : ${listaFuncionarios}"
        				   th:text="${lf.nome}"
        				   th:value="${lf.codigo}"
                         >
                       </option>
                       </select>
                   </div>
				   <div class="col-xs-12 col-md-3 col-lg-3"  >
					  <label for="observacao">observacao</label>
				   </div>
				   <div class="col-xs-12 col-md-9 col-lg-9" >
					 <input type="text" name="observacao"
						th:field="*{observacao}"  class="form-control"
						id="observacao" aria-describedby="observacap" />
				  </div>
			</div>
				
				
				<div class="row">
				     <div class="col-xs-12 col-md-3 col-lg-3"  >
				     	<label for="produto"></label>
				     </div>
				     <div class="col-xs-12 col-md-9 col-lg-9" >
				    	<select 
      				       th:field="*{produto}"
      				       id="produto" 
      				       class="form-control">
       				       <option 
        			          th:each="lp : ${listaProdutos}"
        			          th:value="${lp.codigo}"
        				      th:text="${lp.descricao}"
                            >
                            </option>
                         </select>
				      </div>
				      <div class="col-xs-12 col-md-3 col-lg-3"  >
					     <label for="quantidade">quantidade</label>
				      </div>
				      <div class="col-xs-12 col-md-9 col-lg-9" >
					     <input type="number" name="quantidade"
						    th:field="*{quantidade}"  class="form-control"
						    id="quantidade" aria-describedby="quantidade" />
				       </div>
				       
				       <div class="col-xs-12 col-md-3 col-lg-3"  >
					     <label for="valor">valor</label>
				      </div>
				      <div class="col-xs-12 col-md-9 col-lg-9" >
					     <input type="number" name="valor"
						    th:field="*{valor}"  class="form-control"
						    id="valor" aria-describedby="valor" />
				       </div>
		           </div>
                </form>			
			
			</div>
			
			
				
				
				
				
           
            
				
				
				<div class="row">
				<div class="col-xs-12 col-md-3 col-lg-3" >
					<button type="submit" class="btn btn-primary">cadastrar</button>
				</div>
				<div class="col-xs-12 col-md-3 col-lg-3" >
					<a href="http://localhost:8080/membros/index">testes</a>
				</div>
				</div>
				
			</form>
		
	</div>

<script src="js/jquery-3.4.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/formulario.js"></script>
</body>
</html>

